@import "tailwindcss";

:root {
	--background: #181515;
	--foreground: #b50000;
	--textred: #b50000;
	--textwhite: #d8d8d8;
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-textred: #b50000;
	--color-textwhite: #d8d8d8;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 100;
	}
	50% {
		opacity: 2;
	}
}

.pulse {
	animation: pulse 2s ease-in-out infinite;
}

@keyframes glow-pulse {
	0%,
	100% {
		box-shadow: 0 0 20px 5px rgba(107, 114, 128, 0.8);
	}
	50% {
		box-shadow: 0 0 20px 5px rgba(107, 114, 128, 0.05);
	}
}

.glow-pulse {
	animation: glow-pulse 2s ease-in-out infinite;
}

@keyframes glow-hover {
	0%,
	100% {
		border-color: #6b7280;
	}
	50% {
		border-color: #b5b5b5;
	}
}

.glow-hover:hover {
	animation: glow-hover 1s ease-in-out forwards;
}
