@import "tailwindcss";

:root {
	--background: #181515;
	--foreground: #b50000;
	--textred: #b50000;
	--textwhite: #c7c7c7;
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-textred: #b50000;
	--color-textwhite: #c7c7c7;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 100;
	}
	50% {
		opacity: 2;
	}
}

.pulse {
	animation: pulse 2s ease-in-out infinite;
}
